body {
    font-family: Gotham-Book;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

#content {
    margin: 0px auto;
    width: 1200px;
    min-height: 600px;
}

#content .content-header {
    background-color: rgba(218, 218, 218, 0.3);
    width: 100%;
    min-height: 55px;
    padding: 20px;
}

#content .content-header .text-name {
    font-size: 40px;
    width: auto;
    float: left;
    width: auto;
}

#content .content-header .top-text {
    float: right;
    margin: 5px 20px 0px 0px;
    text-align: center;
}

#content .content-header .top-text div:first-child {
    font-size: 19px;
    margin-bottom: 3px;
}

#content .content-header .top-text div:last-child {
    font-size: 12px;
    color: darkgrey;
}

#content .content-main {
    width: 100%;
    min-height: 480px;
    padding: 0px 20px;
}

#content .content-main .one-column {
    width: 36.5%;
    float: left;
}

#content .content-main .two-column {
    width: 36.5%;
    float: left;
}

#content .content-main .three-column {
    width: 27%;
    float: left;
}

#content .content-footer {
    height: 90px;
    width: 100%;
    background: url('/img/AMCO_pleca.png') no-repeat center;
    background-size: cover;
    padding: 0px 20px;
}

@font-face {
    font-family: Gotham-Book;
    src: url('/font/Gotham-Book.ttf');
}